#ENVIRONMENT- POTHOLE DETECTION SYSTEM

---------------------------------------

#1. GENERAL
APP_NAME=road-pothole-detection-system
APP_ENV=development #switches behaviour between development and production
DEBUG=true #enables verbose error msgs in fastapi(never true in production)

-----

#2. backend(FastAPI)


