#ENVIRONMENT- POTHOLE DETECTION SYSTEM

#1. GENERAL
APP_NAME=road-pothole-detection-system
APP_ENV=development #switches behaviour between development and production
DEBUG=true #enables verbose error msgs in fastapi(never true in production)

#2. backend(FastAPI)
BACKEND_PORT=8770
SECRET_KEY= #used to sign in the JWT tokens, 
JWT_ALGORITHM=HS256 #HMAC-SHA256 is a signing algorithm for JWTs
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

#3. DATABASE(POSTGRESQL + POSTGIS)
POSTGRES_USER=pothole_user
POSTGRES_PASSWORD=pothole_secret_password
POSTGRES_DB=pothole_detection
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}/0

# ML Service
ML_SERVICE_HOST=ml-service
ML_SERVICE_PORT=8001
ML_SERVICE_URL=http://${ML_SERVICE_HOST}:${ML_SERVICE_PORT}

#  Ollama (Local LLM)
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
OLLAMA_BASE_URL=http://${OLLAMA_HOST}:${OLLAMA_PORT}
OLLAMA_MODEL=llama3.1:8b

# Nginx
NGINX_PORT=80
NGINX_SSL_PORT=443

# Monitoring
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001

# File Storage
UPLOAD_DIR=/app/uploads
MAX_UPLOAD_SIZE_MB=10