#ENVIRONMENT- POTHOLE DETECTION SYSTEM

---------------------------------------

#1. GENERAL
APP_NAME=road-pothole-detection-system
APP_ENV=development #switches behaviour between development and production
DEBUG=true #enables verbose error msgs in fastapi(never true in production)

-----

#2. backend(FastAPI)
BACKEND_PORT=8770
SECRET_KEY= #used to sign in the JWT tokens, 
JWT_ALGORITHM=HS256 #HMAC-SHA256 is a signing algorithm for JWTs
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

#3. DATABASE(POSTGRESQL + POSTGIS)
POSTGRES_USER=pothole_user
POSTGRES_PASSWORD=pothole_secret_password
POSTGRES_DB=pothole_detection
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=ostgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

